<section>
    <img src="{% link assets/images/pic08.jpg %}" alt="" data-position="center center" />
        <div class="content">
        <div class="inner">
            <header class="major">
                <h3>Primeira parte com include</h3>
            </header>
            <p>Verificar como colocar esse title e esse content em um arquivo na pasta data, no projeto de mesmo nome, e usar variáveis para puxar pra cá.</p>
            <p>Aqui vai a conclusão do parágrafo.
            </p>
        </div>
    </div>
</section>